/studies-kakarotto.iml
/out/*
/.idea/*
/MPIS-lista7/zad1/logs/*
/MPIS-lista7/zad1/all_data_test.json
/MPIS-lista7/zad1/average_data_test.json
/MPIS-lista7/zad3/logs/*
/MPIS-lista7/zad2/logs/*
/ignored/*
/MetaMeta/class1/ALL_tsp.tar.gz
