/studies-kakarotto.iml
/out/*
/.idea/*
/MPIS-lista7/zad1/logs/*
/MPIS-lista7/zad1/all_data_test.json
/MPIS-lista7/zad1/average_data_test.json
/MPIS-lista7/zad3/logs/*
/MPIS-lista7/zad2/logs/*
/AISD/.vscode
.vscode
*/a.out
/ignored/*
/MetaMeta/class1/ALL_tsp.tar.gz
/Kartografia/homework-1/homework_1.zip
*/__pycache__
*.idea*
AISD/Lista1/zad1/zad1
./ignored
/MetaMeta/class1/all_tsp/
AISD/Lista2/programs/*