/studies-kakarotto.iml
/out/*
/.idea/*
/MPIS-lista7/zad1/logs/*
/MPIS-lista7/zad1/all_data_test.json
/MPIS-lista7/zad1/average_data_test.json
/MPIS-lista7/zad3/logs/*
/MPIS-lista7/zad2/logs/*
/AISD/.vscode
.vscode
*/a.out
/ignored/*
/MetaMeta/class1/ALL_tsp.tar.gz
/Kartografia/homework-1/homework_1.zip
*/__pycache__
*.idea*
AISD/Lista1/zad1/zad1
./ignored
/MetaMeta/class1/all_tsp/
AISD/Lista2/programs/*
/MetaMeta/class1/__pycache__
/MetaMeta/class1/datasets/
/MetaMeta/class1/trash/
/Kartografia/homework-5/plot_data.json
/Kartografia/homework-5/primes_data/p_128.txt
/Kartografia/homework-5/primes_data/p_256.txt
/Kartografia/homework-5/primes_data/p_512.txt
/Kartografia/homework-5/primes_data/p_1024.txt
/Kartografia/homework-5/primes_data/p_1536.txt
/Kartografia/homework-5/primes_data/p_2048.txt
/Kartografia/homework-5/primes_data/p_3072.txt
/Kartografia/homework-5/primes_data/p_4096.txt
/Kartografia/homework-5/data/
