homework-5/plot_data.json
homework-5/primes_data/p_128.txt
homework-5/primes_data/p_256.txt
homework-5/primes_data/p_512.txt
homework-5/primes_data/p_1024.txt
homework-5/primes_data/p_1536.txt
homework-5/primes_data/p_2048.txt
homework-5/primes_data/p_3072.txt
homework-5/primes_data/p_4096.txt
homework-5/data/